:root{
  --color-1: #111111;
  --color-2: #c7493a;
  --color-3: #8bcc9e;
  --color-4: #e0d7d2;
  --color-5: #8bcc9e75;
  --color-6: #c7483a65;

}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  background-color: var(--color-4);
}

.header{
  font-family: 'Quattrocento Sans', sans-serif;
  color: var(--color-1);
}

.header h1{
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: var(--color-1);
  letter-spacing: 3px;
}

.header .current-day{
  letter-spacing: 2px;
  font-weight: 600;
}

#clear-stored-tasks{
  margin-top: 5px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--color-2);
  font-weight: 600;
  letter-spacing: 2px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--color-1);
  border-left: 1px solid var(--color-1);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 10px;
  overflow: hidden;
}

.row {
  margin-bottom: 5px;
  border-bottom: 2px solid var(--color-1);
}

.hour {
  background-color: var(--color-4);
  color: var(--color-1);
}

.inactive-block {
  background-color: var(--color-4);
}

.past {
  background-color: var(--color-5);
}

.present {
  background-color: var(--color-4);
}

.future {
  background-color: var(--color-6);
}

.saveBtn {
  border-left: 1px solid var(--color-1);
  background-color: var(--color-4);
  color: var(--color-6);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#footer {
  padding: 30px 0px;
  width: 100%;
  text-align: center;
  color: var(--color-1);
}

#footer a{
  color: var(--color-2);
}